<%= form_with(model: @blog, url: blogs_path, local: true) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :user_id %>
  <%= form.hidden_field :image, value: @blog.image.cache_name %>

  <p>タイトル:<%= @blog.title %></p>
  <p>本文:<%= @blog.content %></p>
  <% if @blog.image.url %>
    <%= image_tag(@blog.image.url) %>
  <% end %>
  <%= form.submit  "登録する" %>
<% end %>

<%= form_with(model: @blog, url: new_blog_path, local: true, method: 'get') do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :user_id %>
  <%= form.hidden_field :image, value: @blog.image.cache_name %>
  <%= form.submit "もどる", name: 'back' %>
<% end %>