<div class="box">
  <%= form_with(model: @tweet, local: true, url: choose_new_or_edit('tweet')) do |form| %>
    <% if @tweet.errors.any? %>
      <div class="notification is-info">
        <div id="error_explanation">
          <h2><%= @tweet.errors.count %>件のエラーがあります。</h2>
          <ul>
            <% @tweet.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
    <div class="field">
      <%= form.label :content, class:"label" %>
      <div class="control">
        <%= form.text_field :content, class:"input" %>
      </div>
    </div>
    <%= form.submit class:"button is-primary" %>
  <% end %>
</div>
<%= link_to 'Tweet一覧画面にもどる', tweets_path, class:"button is-primary" %>