<!DOCTYPE html>
<html>
  <head>
    <title>Sample</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-info">
    <div class = "container"></div>
    <header>
      <nav class="navbar is-link">
         <p>PHASE3 bootstrapで作成するアプリケーション</p>
      </nav>
      <% if logged_in? %>
        <div class ="row">
          <%= link_to 'ユーザー一覧', users_path %>
          <span class = "col-3"><%= link_to 'Blogs', blogs_path, class: "btn btn-primary" %></span>
          <span class = "col-3"><%= link_to 'My Favorites', favorites_path, class: "btn btn-primary" %></span>
          <span class = "col-3"><%= link_to "Profile", user_path(current_user.id), class: "btn btn-primary"%></span>
          <span class = "col-3"><%= link_to "Logout", session_path(current_user.id), class: "btn btn-primary", method: :delete %></span>
        </div>



      <% else %>
        <%= link_to "Sign up", new_user_path %>
        <%= link_to "Login", new_session_path %>
      <% end %>
    </header>

    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>

    <%= yield %>

    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            PHASE3大課題で作成するアプリケーション
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
